<%- include('common/header') %>

<h1>出席管理アプリ</h1>
<h2>出席情報編集</h2>
<%
  const theDate = new Date(date)
  const yyyy = theDate.getFullYear();
  const mm = theDate.getMonth() + 1;
  const dd = theDate.getDate();
%>
<ul>
  <li>メンバー：<%= member %> </li>
  <li>日付： <%- yyyy + '/' + mm + '/' + dd %>  </li>
</ul>
<form action="/group/<%= groupId %>/attendance/<%- attendance.id %>" method="POST">
  <select name="attendance">
    <option value="yes">出席</option>
    <option value="no">欠席</option>
    <option value="unknown">未定</option>
  </select>
  <button type="submit">保存</button>
</form>

<%- include('common/footer') %>