<%- include('common/header') %>

<h1>出席管理アプリ</h1>
<h2><%= group.groupName %></h2>
<a href="/group">グループ一覧へ</a>
<h3>グループの説明</h3>
<p><%= group.explain %></p>

<h3>編集</h3>
<form action="/group/<%= group.id %>/edit" method="POST">
  <label for="name">グループ名</label>
  <input type="text" name="name">
  <label for="explain">グループの説明</label>
  <input type="text" name="explain">
  <button type="submit">変更</button>
</form>
<form action="/group/<%= group.id %>/del" method="post">
  <button type="submit">グループ削除</button>
</form>

<a href="/group/<%= group.id %>/attendance">出席管理へ</a>

<%- include('common/footer') %>